@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
  
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;

}


.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: #f6c600;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:#f6c600;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #f6c600;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;

}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #4a6ab6;
   color:#fff;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #f6c600;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#f6c600;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: #f6c600;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

/*event management styling starts here */


.container{
   min-height: 100px;  
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.card-content{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:30px;
}
.card1{
    position: relative;
    background: #ebe8e8;
    width: 350px;
    height: 350px;
    margin:25px;
    box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    border-radius:10px;
    overflow: hidden;
}
.card-image{
   max-height: 350px; 
}
.card-image img {
    max-width: 100%;
    height: auto;
}
.card-info {
    position: relative;
    color: #222;
    padding :10px 20px 20px;
}
.card-info h3 {
    font-family: 'Montserrat', sans-serif; ;
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}
.card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}